<%- include('partials/header'); -%>
<h1>About</h1>
<p><%= aboutWords %></p>
<div class="d-grid gap-2 d-md-block">
  <a href="https://sleepy-beach-06464.herokuapp.com/"><button class="btn btn-outline-info col-3 me-2" type="button">Newsletter Sign Up</button></a>
  <a href="https://sleepy-sea-91555.herokuapp.com/"><button class="btn btn-outline-info col-3" type="button">To Do List</button></a>
</div>
<%- include('partials/footer'); -%>
