<%- include('partials/header'); -%>
<h1>About</h1>
<p><%= aboutWords %></p>
<div class="span2">
  <a href="https://sleepy-beach-06464.herokuapp.com/"><button class="btn btn-outline-info" type="button">Newsletter Sign Up<i class="fa-solid fa-eye" style="padding-left: 0.5em;"></i></button></a>
  <a href="https://sleepy-sea-91555.herokuapp.com/"><button class="btn btn-outline-info" type="button">To Do List<i class="fa-solid fa-eye" style="padding-left: 0.5em;"></i></button></a>
</div>
<%- include('partials/footer'); -%>
